.banner-principal-decorativo
  &-1
    animation: float2 3.5s ease-in-out infinite alternate
    position: absolute
    top: 3%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 5%
  &-3
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 60%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
@keyframes float2
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)

.banner-interno__titulo__icono i
  color: $color-secundario !important

.banner-interno__fondo
  background-image: url("../assets/curso/portada/img1.svg") !important

.img-infografica__item, .img-infografica-b__item
  width: 5.5%
.img-infografica.color-secundario .img-infografica__item__numero, .img-infografica-b.color-secundario .img-infografica__item__numero
  color: #FFCE00

.tarjeta.tarjeta--azul
  background-image: url("../assets/curso/tema1/img10.svg")
  background-repeat: no-repeat
  background-size: cover

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #FFCE00
.slyder-a__bullets__item--active
  background-color: #FFF

.tarjeta.tarjeta--azul1
  background-color: #DCECFE
.tarjeta.tarjeta--azul1.acordion__activo
  background-color: #E1F6EF

.acordion__accion__btn--a
  background-color: #FFCE00

.tarjeta.color-primario1
  background-color: #F6F6F6

.tarjeta.color-primario2
  background-color: #DBEDFD

.bloque-texto-d
  border-top: 0px

.modal-a__content
  width: 30%
  background-color: #273A89
  border-radius: 25px
  border: 14px solid #FFF
  background-image: url("../assets/curso/tema2/img10.svg")
  background-repeat: no-repeat
  background-position: 100% 17%
  p,b
    color: #FFF
  @media screen and ( max-width: $bp-max-lg )
    width: 80%
.modal-a__close-btn i
  color: #FFF

.tabs-a__tab
  background-color: #E8E8E8
.tabs-a.color-acento-botones .tabs-a__tab__selected
  color: #000 !important

.bg
  &-c1
    background-color: #DEE1ED
    border-radius: 15px
    background-image: url("../assets/curso/intro/img2.svg")
    background-repeat: no-repeat
    background-position: 100% 90%
  &-c2
    background-color: #DCECFE
    border-radius: 15px
    background-image: url("../assets/curso/intro/img2.svg")
    background-repeat: no-repeat
    background-position: 100% 20%
  &-c3
    background-color: #E1F6EF
    border-radius: 15px
  &-c4
    background-color: #273A89
    border-left: 14px solid #1682FB
  &-c5
    background-color: #273A89
    border-radius: 15px
    background-image: url("../assets/curso/intro/img2.svg")
    background-repeat: no-repeat
    background-position: 90% 20%
  &-c6
    background-color: #8DEECC
    border-radius: 15px
  &-c7
    background-color: #1682FB
    border-top-right-radius: 15px
    border-bottom-right-radius: 15px
    @media screen and ( max-width: $bp-max-lg )
      border-top-left-radius: 15px
      border-bottom-left-radius: 15px
  &-c8
    background-color: #DCECFE
    border-top-right-radius: 15px
    border-bottom-right-radius: 15px
    @media screen and ( max-width: $bp-max-lg )
      border-top-left-radius: 15px
      border-bottom-left-radius: 15px
  &-c9
    background-image: url(../assets/curso/tema1/img8.svg)
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
    background-size: cover
  &-c10
    background-color: #3EE2A8
    p
      b
        color: $color-sistema-texto !important
  &-c11
    background-image: url(../assets/curso/tema1/img6.svg)
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
    background-size: cover
    background-position-y: 30px
  &-c12
    background-image: url(../assets/curso/tema1/img6.png)
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
    background-size: cover
  &-c13
    background-color: #B3BAD6
    border-radius: 15px
    background-image: url("../assets/curso/intro/img2.svg")
    background-repeat: no-repeat
    background-position: 95% 20%
    transition: all 0.5s ease-out
  &-c13:hover
    background-color: #273A89
    p,b
      color: white
  &-c14
    background-color: #ADD3FD
    border-bottom: 14px solid #1682FB
    border-radius: 15px
    background-image: url("../assets/curso/tema1/img17.svg")
    background-repeat: no-repeat
    background-position: 3% 20%
  &-c15
    background-color: #E1F6EF
  &-c16
    background-color: #DCECFE
    border-radius: 15px
    background-image: url("../assets/curso/tema1/img21.svg")
    background-repeat: no-repeat
    background-position: 98% 90%
  &-c17
    background-image: url(../assets/curso/tema1/img8.svg)
    background-repeat: no-repeat
    background-size: cover
  &-c18
    background-color: #1682FB
    border-radius: 15px
  &-c19
    background-color: #ADD3FD
    border-radius: 15px
  &-c20
    background-image: url(../assets/curso/tema1/img26.svg)
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
    background-size: cover
    background-position-y: 90px
  &-c21
    background-color: #ADD3FD
    border-radius: 15px
    background-image: url(../assets/curso/tema1/img27.svg)
    background-repeat: no-repeat
    background-position: 100% 20%
  &-c22
    background-color: #BAE9D9
    border-radius: 15px
    background-image: url(../assets/curso/tema1/img27.svg)
    background-repeat: no-repeat
    background-position: 100% 20%
  &-c23
    background-color: #DEE1ED
    border-radius: 15px
  &-c24
    background-color: #BAE9D9
  &-c25
    background-color: #FFF
    border-top-right-radius: 15px
    border-bottom-right-radius: 15px
    @media screen and ( max-width: $bp-max-lg )
      border-top-left-radius: 15px
      border-bottom-left-radius: 15px
  &-c26
    background-color: #273A89
    border-radius: 15px
    background-image: url(../assets/curso/tema1/img21.svg)
    background-repeat: no-repeat
    background-position: 100% 20%
  &-c27
    background-color: #DCECFE
    border-radius: 15px
  &-c28
    background-image: url(../assets/curso/tema2/img2.svg)
    background-repeat: no-repeat
    background-position: bottom
  &-c29
    background-color: #B3BAD6
    border-top-left-radius: 15px
    border-bottom-left-radius: 15px
    @media screen and ( max-width: $bp-max-lg )
      border-bottom-left-radius: 0px
      border-top-right-radius: 15px
  &-c30
    background-color: #ADD3FD
    border-top-right-radius: 15px
    border-bottom-right-radius: 15px
    @media screen and ( max-width: $bp-max-lg )
      border-top-right-radius: 0px
      border-bottom-left-radius: 15px
  &-c31
    background-color: #FFCE00
  &-c32
    background-color: #3EE2A8
  &-c33
    background-color: #fff
    border-radius: 15px

.fig
  &-p1
    position: relative
    bottom: 9px;

.txt
  &-c1
    color: #FFCE00 !important
  &-c2
    padding: 4px
    background-color: #3EE2A8
  &-c3
    padding: 14px
    background-color: #273A89
